.main{
    color: red;
    text-align: center;
}

body{
    background-color: black;
}
h1, h2, p{
    text-align: center;
}
h1, h2{
    color: red;
}
p{
    color: white;
}
div > main{
    display: none;
}
div:hover > main{
    display: block;
}
a{
    text-decoration: none;
}
input{
    text-align: center;
}
main{
    background-image: url(escorte.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: auto;
    height: auto;
}

@media screen and (max-width: 768px){
    main{
        background-image: url(escorte.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        width: auto;
        max-width: 320;
        height: auto;
    }
}
